# Data Preparation

- Load the dataset from speaker_id notebook
- Assign the final global 'speaker_id' based on C_name

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dataset = pd.read_csv('assigned_0.7.csv')
dataset

,Speaker_Start,Speaker_Stop,Speaker,Subtitle_Start,Subtitle_End,Text,Global_ID,File,Group_id,C_Name
0,"00:01:37,599","00:01:38,700",43,"00:01:37,560","00:01:40,880",Have you ever heard of Moombin valley?,NaN,1,group_2,background_song
1,"00:01:38,799","00:01:40,000",43,"00:01:37,560","00:01:40,880",Have you ever heard of Moombin valley?,NaN,1,group_2,background_song
2,"00:01:43,700","00:01:44,400",43,"00:01:40,880","00:01:50,480","In winter, deep white snow covers the whole va...",NaN,1,group_2,background_song
3,"00:01:44,700","00:01:47,400",43,"00:01:40,880","00:01:50,480","In winter, deep white snow covers the whole va...",NaN,1,group_2,background_song
4,"00:01:48,099","00:01:49,500",43,"00:01:40,880","00:01:50,480","In winter, deep white snow covers the whole va...",NaN,1,group_2,background_song
...,...,...,...,...,...,...,...,...,...,...
5455,"05:27:38,900","05:27:39,599",39,"05:27:36,860","05:27:40,860",There's a boat.,NaN,3,group_17,Sniff
5456,"05:27:40,099","05:27:40,900",39,"05:27:36,860","05:27:40,860",There's a boat.,NaN,3,group_17,Sniff
5457,"05:27:41,900","05:27:46,400",39,"05:27:41,860","05:27:46,860","The fireworks must have come from there. Hey, ...",NaN,3,group_17,Sniff
5458,"05:27:48,599","05:27:50,099",39,"05:27:47,860","05:27:53,860","Is that the hemuline you think? No, I don't th...",NaN,3,group_17,Sniff
5459,"05:28:03,700","05:28:08,299",49,"05:28:02,860","05:28:07,860",They also learned that the fireworks were comi...,G05,3,group_13,background

In [3]:
C_names = np.unique(dataset["C_Name"].values)
C_names

array(['Alicia and her grandma', 'Hemul', 'Inspector', 'LittleMy',
       'MoominMama', 'Moomintroll', 'OTHER', 'Sniff', 'Snuffkin',
       'Stinky', 'background', 'background_song'], dtype=object)

In [4]:
dataset = dataset.drop(columns=['Global_ID','File','Group_id','Speaker'])
dataset['speaker_id'], id_index = pd.factorize(dataset['C_Name'])


dataset

,Speaker_Start,Speaker_Stop,Subtitle_Start,Subtitle_End,Text,C_Name,speaker_id
0,"00:01:37,599","00:01:38,700","00:01:37,560","00:01:40,880",Have you ever heard of Moombin valley?,background_song,0
1,"00:01:38,799","00:01:40,000","00:01:37,560","00:01:40,880",Have you ever heard of Moombin valley?,background_song,0
2,"00:01:43,700","00:01:44,400","00:01:40,880","00:01:50,480","In winter, deep white snow covers the whole va...",background_song,0
3,"00:01:44,700","00:01:47,400","00:01:40,880","00:01:50,480","In winter, deep white snow covers the whole va...",background_song,0
4,"00:01:48,099","00:01:49,500","00:01:40,880","00:01:50,480","In winter, deep white snow covers the whole va...",background_song,0
...,...,...,...,...,...,...,...
5455,"05:27:38,900","05:27:39,599","05:27:36,860","05:27:40,860",There's a boat.,Sniff,3
5456,"05:27:40,099","05:27:40,900","05:27:36,860","05:27:40,860",There's a boat.,Sniff,3
5457,"05:27:41,900","05:27:46,400","05:27:41,860","05:27:46,860","The fireworks must have come from there. Hey, ...",Sniff,3
5458,"05:27:48,599","05:27:50,099","05:27:47,860","05:27:53,860","Is that the hemuline you think? No, I don't th...",Sniff,3
5459,"05:28:03,700","05:28:08,299","05:28:02,860","05:28:07,860",They also learned that the fireworks were comi...,background,11

- too many lines are mistakenly marked as background
- try manual labeling of dialog characters in the animation to obtain the training dataset

ie. 10ep training, 3ep for testing.

*- the following analysis is only for submission....*

- remove repeated lines with different timestamp

In [5]:
### ignore all the background slices
dataset = dataset[~dataset['C_Name'].isin(['background_song','background']) ]
### .shift() - compare each row with the previous one
### ~ - NOT
df_cleaned = dataset[~((dataset['Text'] == dataset['Text'].shift())) ]
df_cleaned

,Speaker_Start,Speaker_Stop,Subtitle_Start,Subtitle_End,Text,C_Name,speaker_id
15,"00:02:57,300","00:02:57,800","00:02:56,160","00:03:16,160","At last, it's spring.",Moomintroll,1
19,"00:03:18,000","00:03:18,300","00:03:16,160","00:03:24,160","Wake up everyone, it's spring time.",Moomintroll,1
21,"00:03:41,199","00:03:43,599","00:03:24,160","00:03:44,480",I can't help it if I'm happy.,Sniff,3
23,"00:03:46,199","00:03:53,000","00:03:44,480","00:03:46,280","So yeah, woke me.",MoominMama,4
24,"00:03:53,800","00:03:54,099","00:03:51,000","00:03:54,000","Oh gee, isn't it, is it really moving?",MoominMama,4
...,...,...,...,...,...,...,...
5452,"05:27:21,299","05:27:23,099","05:27:20,860","05:27:24,860",That's what I call fireworks.,Sniff,3
5453,"05:27:27,099","05:27:27,599","05:27:26,860","05:27:30,860",Come on. Somebody must be out there in a boat.,Sniff,3
5455,"05:27:38,900","05:27:39,599","05:27:36,860","05:27:40,860",There's a boat.,Sniff,3
5457,"05:27:41,900","05:27:46,400","05:27:41,860","05:27:46,860","The fireworks must have come from there. Hey, ...",Sniff,3
5458,"05:27:48,599","05:27:50,099","05:27:47,860","05:27:53,860","Is that the hemuline you think? No, I don't th...",Sniff,3

# Character interactions

## Conversations 
- Adjacent speakers are considered in the same conversation 
- speaker a | b| times they talked

In [6]:
df_conversation = df_cleaned[df_cleaned['speaker_id'] != df_cleaned['speaker_id'].shift()].copy()
df_conversation.loc[:, 'speaker_id'] = df_conversation['speaker_id'].astype('Int64')

In [7]:
df_conversation.loc[:, 'prev_speaker_id'] = df_conversation['speaker_id'].shift().astype('Int64')
df_conversation = df_conversation.dropna(subset=['prev_speaker_id'])  # remove first row

In [12]:
df = df_conversation.copy()
### removed the group and cmucount
df

,Speaker_Start,Speaker_Stop,Subtitle_Start,Subtitle_End,Text,C_Name,speaker_id,prev_speaker_id
21,"00:03:41,199","00:03:43,599","00:03:24,160","00:03:44,480",I can't help it if I'm happy.,Sniff,3,1
23,"00:03:46,199","00:03:53,000","00:03:44,480","00:03:46,280","So yeah, woke me.",MoominMama,4,3
25,"00:03:58,099","00:03:58,199","00:03:54,000","00:04:01,360","Yes, it's all fresh, the flowers are out and t...",Moomintroll,1,4
26,"00:04:12,500","00:04:12,500","00:04:09,160","00:04:12,640",You said you wanted to be a welcome as soon as...,MoominMama,4,1
35,"00:05:09,399","00:05:10,500","00:05:04,560","00:05:09,560",Wouldn't it be quicker to use the stairs?,Snuffkin,2,4
...,...,...,...,...,...,...,...,...
5441,"05:25:17,000","05:25:17,900","05:25:16,860","05:25:18,860",Certainly not. Not me.,LittleMy,5,1
5443,"05:25:38,299","05:25:41,700","05:25:37,860","05:25:39,860","Here, you better take this movement.",Moomintroll,1,5
5446,"05:25:46,200","05:25:48,799","05:25:45,860","05:25:48,860","Well, then, Papa. Why don't you come with us?",Sniff,3,1
5447,"05:26:00,099","05:26:03,200","05:25:59,860","05:26:02,860","All right, Papa. We'll find out about the bang...",Moomintroll,1,3
5450,"05:27:12,000","05:27:12,599","05:27:05,860","05:27:14,860",to see. Keep a sharp look out. Look over there...,Sniff,3,1

In [13]:
df_csv = pd.DataFrame()
df_csv['Source'] = df['speaker_id']
df_csv['Target'] = df['prev_speaker_id']
# df_csv['Weight'] = df['transition_count']
df_csv.to_csv('edges.csv', index=False)

In [14]:
df_csv2 = pd.DataFrame()
df_csv2['Id'] = df['speaker_id']
df_csv2['Label'] = df['C_Name']
df_csv2.to_csv('nodes.csv', index=False)

### additional measurements

In [15]:
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
G = nx.DiGraph()

for _, row in df_csv.iterrows():
    G.add_edge(row['Source'], row['Target'], weight=1)


labels = dict(zip(df_csv2['Id'], df_csv2['Label']))
nx.set_node_attributes(G, labels, "label")

In [ ]:
### network measurements

nx.set_node_attributes(G, pagerank, "pagerank")
nx.set_node_attributes(G, harmonic, "harmonic")
nx.set_node_attributes(G, katz, "katz")


assortativity = nx.degree_assortativity_coefficient(G)
transitivity = nx.transitivity(G.to_undirected())
efficiency = nx.global_efficiency(G.to_undirected())

print("Assortativity:", assortativity, 'Transitivity:', transitivity, 'Efficiency:', efficiency)

Assortativity: -0.4232106200443681 Transitivity: 0.8646288209606987 Efficiency: 0.8888888888888888

### Subtitle wordcloud

In [29]:
df_words = df_csv.copy()
df_words['weights'] = df['Text']
df_words

      Source  Target                                            weights
21         3       1                      I can't help it if I'm happy.
23         4       3                                  So yeah, woke me.
25         1       4  Yes, it's all fresh, the flowers are out and t...
26         4       1  You said you wanted to be a welcome as soon as...
35         2       4          Wouldn't it be quicker to use the stairs?
...      ...     ...                                                ...
5441       5       1                             Certainly not. Not me.
5443       1       5               Here, you better take this movement.
5446       3       1      Well, then, Papa. Why don't you come with us?
5447       1       3  All right, Papa. We'll find out about the bang...
5450       3       1  to see. Keep a sharp look out. Look over there...

[1293 rows x 3 columns]

In [31]:
df_words.to_csv('edges_wth_words.csv', index=False)

### Gephi wordcloud can only read node attributes not edges, and the nodes will be merged....

- Use the .txt subtitles to plot wordcloud without the speaker info

In [32]:
os.chdir('/home/lila/github-clones/MoominUniverse/subtitles/compressed/')

In [38]:
from wordcloud import WordCloud
import re


files = ["1_compressed.txt", "2_compressed.txt", "3_compressed.txt"]
combined_text = ""
for filename in files:
    with open(filename, "r", encoding="utf-8") as file:
        combined_text += file.read() + " " 


clean_text = re.sub(r'[^\w\s]', '', text.lower())

wordcloud = WordCloud(
    width=1000,
    height=600,
    background_color='white',
    max_words=200
).generate(clean_text)

wordcloud.to_file("wordcloud.png")